header {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    width: 100%;
    top: 0;
    height: var(--height-header);
    z-index: 999;
    background-image: url('../../../../assets/Backgrounds/Bg_Header.png');
}

.link-logo {
    width: 250px;
    margin-top: 5px;
}

.logo-wolox-header {
    width: 100%;
}

.heart {
    font-size: 40px;
    color: var(--secondary-color);
}

.count-favs {
    background-color: var(--primary-color);
    border-radius: 100%;
    width: 25px;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: -3px;
    right: -5px;
    box-shadow: var(--box-shadow);
    height: 25px;
    padding-top: 3px;
}

.content-fav {
    position: relative;
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 720px) {
    header {
        padding: 20px 20px;
    }

    .link-logo {
        width: 175px;
    }
}