header {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    width: 100%;
    top: 0;
    height: var(--height-header);
    z-index: 999;
    background-image: url('../../../../assets/Backgrounds/Bg_Header.png');
}

.link-logo {
    width: 250px;
    margin-top: 5px;
}

.logo-wolox-header {
    width: 100%;
}
