<section>
    <div class="register-container">
        <div class="card">
            <div class="card-header">
                <h1>Ingresa!</h1>
            </div>
            <div class="card-body">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="field-row">
                        <div class="field">
                            <label for="inputMail">Email</label>
                            <input class="form-control" id="inputMail" type="text" formControlName="email"
                            [class.is-valid]="mailControlValid" [class.is-invalid]="mailControlInvalid">
                            <div class="invalid-feedback" *ngIf='emailControl.hasError("required") && emailControl.touched'>Campo requerido</div>
                            <div class="invalid-feedback" *ngIf='emailControl.hasError("email")'>Formato inválido.</div>
                        </div>
                    </div>
                    <div class="field-row">
                        <div class="field">
                            <label for="inputPassword">Contraseña</label>
                            <input class="form-control" id="inputPassword" type="password" formControlName="password"
                            [class.is-valid]="passwordControlValid" [class.is-invalid]="passwordControlInvalid">
                            <div class="invalid-feedback" *ngIf='passwordControl.hasError("required") && passwordControl.touched'>Campo requerido</div>
                            <div class="invalid-feedback" *ngIf='passwordControl.hasError("minlength")'>Mínimo 6 caracteres.</div>
                        </div>
                    </div>
                    <div class="button-container">
                        <button type="submit" class="button-login" [disabled]="loginForm.invalid">Ingresar</button>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                Todavía no tenes una cuenta?<a routerLink="/auth/register">Registrate!</a>
            </div>
        </div>
    </div>
</section>