<app-layout>
    <section>
        <div class="register-container">
            <div class="card">
                <div class="card-header">
                    <h1>Registrate!</h1>
                </div>
                <div class="card-body">
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="field-row">
                            <div class="field">
                                <label for="inputName">Nombre</label>
                                <input class="form-control" id="inputName" type="text" formControlName="name"
                                [class.is-valid]="nameControlValid" [class.is-invalid]="nameControlInvalid" maxlength="30">
                                <div class="invalid-feedback" *ngIf='nameControl.hasError("required") && nameControl.touched'>Campo requerido</div>
                                <div class="invalid-feedback" *ngIf='nameControl.hasError("maxlength")'>Se permite hasta 30 caracteres.</div>
                            </div>
                        </div>
                        <div class="field-row">
                            <div class="field">
                                <label for="inputLastName">Apellido</label>
                                <input class="form-control" id="inputLastName" type="text" formControlName="last_name"
                                [class.is-valid]="last_nameControlValid" [class.is-invalid]="last_nameControlInvalid" maxlength="30">
                                <div class="invalid-feedback" *ngIf='last_nameControl.hasError("required") && last_nameControl.touched'>Campo requerido</div>
                                <div class="invalid-feedback" *ngIf='last_nameControl.hasError("maxlength")'>Se permite hasta 30 caracteres.</div>
                            </div>
                        </div>
                        <div class="field-row">
                            <div class="field">
                                <label for="selectPais">País</label>
                                <select class="form-control" id="selectPais" placeholder="Seleccione un país" formControlName="country"
                                [class.is-valid]="countryControlValid" [class.is-invalid]="countryControlInvalid" (change)="setProvinces()">
                                    <option *ngFor="let country of countries" [ngValue]="country.name">
                                        {{country.name}}
                                    </option>
                                </select>
                                <div class="invalid-feedback" *ngIf='countryControl.hasError("required") && countryControl.touched'>Campo requerido</div>
                            </div>
                            <div class="field">
                                <label for="selectProvince">Provincia</label>
                                <select *ngIf="provinces.length != 0" class="form-control" id="selectProvince" placeholder="Seleccione un provincia" formControlName="province"
                                [class.is-valid]="provinceControlValid" [class.is-invalid]="provinceControlInvalid">
                                    <option *ngFor="let province of provinces" [ngValue]="province">
                                        {{province}}
                                    </option>
                                </select>
                                <input class="form-control" *ngIf="provinces.length == 0" disabled>
                                <div class="invalid-feedback" *ngIf='provinceControl.hasError("required") && provinceControl.touched'>Campo requerido</div>
                            </div>
                        </div>
                        <div class="field-row">
                            <div class="field">
                                <label for="inputMail">Email</label>
                                <input class="form-control" id="inputMail" type="text" formControlName="mail"
                                [class.is-valid]="mailControlValid" [class.is-invalid]="mailControlInvalid">
                                <div class="invalid-feedback" *ngIf='mailControl.hasError("required") && mailControl.touched'>Campo requerido</div>
                                <div class="invalid-feedback" *ngIf='mailControl.hasError("email")'>Formato inválido.</div>
                            </div>
                        </div>
                        <div class="field-row">
                            <div class="field">
                                <label for="inputPhone">Teléfono</label>
                                <input class="form-control" id="inputPhone" type="number" formControlName="phone" [maxlength]="10"
                                [class.is-valid]="phoneControlValid" [class.is-invalid]="phoneControlInvalid">
                                <div class="invalid-feedback" *ngIf='phoneControl.hasError("required") && phoneControl.touched'>Campo requerido</div>
                                <div class="invalid-feedback" *ngIf='phoneControl.hasError("max") || phoneControl.hasError("min")'>El campo requiere 10 caracteres.</div>
    
                            </div>
                        </div>
                        <div class="field-row">
                            <div class="field">
                                <label for="inputPassword">Contraseña</label>
                                <input class="form-control" id="inputPassword" type="password" formControlName="password"
                                [class.is-valid]="passwordControlValid" [class.is-invalid]="passwordControlInvalid">
                                <div class="invalid-feedback" *ngIf='passwordControl.hasError("required") && passwordControl.touched'>Campo requerido</div>
                                <div class="invalid-feedback" *ngIf='passwordControl.hasError("minlength")'>Mínimo 6 caracteres.</div>
                            </div>
                            <div class="field">
                                <label for="inputConfirmPassword">Confirmar contraseña</label>
                                <input class="form-control" id="inputConfirmPassword" type="password" formControlName="confirm_password"
                                [class.is-valid]="confirm_passwordControlValid" [class.is-invalid]="confirm_passwordControlInvalid">
                                <div class="invalid-feedback" *ngIf='confirm_passwordControl.hasError("required") && confirm_passwordControl.touched'>Campo requerido</div>
                                <div class="invalid-feedback" *ngIf='confirm_passwordControl.hasError("minlength")'>Mínimo 6 caracteres.</div>
                                <div class="invalid-feedback" *ngIf='registerForm.hasError("passwordMismatch") && confirm_passwordControl.touched'>Las contraseñas no coinciden.</div>
                            </div>
                        </div>
                        <div class="field-row">
                            <div class="field">
                                <input type="checkbox" id="conditions" formControlName="conditions" class="regular-checkbox">
                                <label for="conditions">Acepto <a href="https://www.wolox.com.ar/policies/Privacy_Policy.pdf" target="_blank">Términos y Condiciones</a></label>
                            </div>
                        </div>
                        <div class="button-container">
                            <button type="submit" class="button-login" [disabled]="registerForm.invalid || !registerForm.value.conditions">Registrarse</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</app-layout>