<app-layout>
    <section>
        <div>
            <label for="search">Buscar:</label>
            <input id="search" type="input" class="form-control" [(ngModel)]="search" (ngModelChange)="applyFilter()">
        </div>
        <div class="responsive">
            <div class="heading">
                <div class="heading-logo hide"></div>
                <div class="heading-item order-by" (click)="orderByName()">Tech</div>
                <div class="heading-item">Type</div>
                <div class="heading-item">Languague</div>
                <div class="heading-item hide">License</div>
                <div class="heading-item hide">Author</div>
                <div class="heading-item hide">Year</div>
                <div class="heading-item"></div>
            </div>
            <div class="container-elements" *ngFor="let tech of orderedTechs; let i = index;">
                <div class="row">
                    <div class="logo hide">
                        <img src="{{tech.logo}}" alt="">
                    </div>
                    <div class="flex4">{{tech.tech}}</div>
                    <div class="flex4">{{tech.type}}</div>
                    <div class="flex4">{{tech.language}}</div>
                    <div class="flex4 hide">{{tech.license}}</div>
                    <div class="flex4 hide">{{tech.author}}</div>
                    <div class="flex4 hide">{{tech.year}}</div>
                    <div class="flex4">
                        <span (click)="changeState(i)">
                            <fa-icon class="heart" [ngClass]="{'active': tech.fav}" [icon]="faHeart"></fa-icon>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="counts">Se encontraron {{orderedTechs.length}} tecnologías</div>
        <div *ngIf="orderedTechs.length == 0">
            Prueba buscando otro elemento
        </div>
    </section>
</app-layout>