header {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    position: fixed;
    width: 100%;
    top: 0;
    height: var(--height-header);
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.5);
}

.link-logo {
    width: 250px;
    margin-top: 5px;
}

.logo-wolox-header {
    width: 100%;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
}

.buttons {
    margin: 0px 30px;
    font-weight: 600;
    padding: 10px 0px;
    cursor: pointer;
}

.button-login {
    color: var(--primary-color);
    border-radius: 30px;
    border: solid 1px var(--primary-color);
    padding: 10px 50px;
    transition: all 0.1s ease-in-out;
}

.button-login:hover {
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
    box-shadow: var(--box-shadow);
    transform: translate3d(0px, -1px, 0px);
}

footer {
    padding: 40px 0px;
    background-image: url('../../../../../assets/Backgrounds/Bg_Footer.png');
}

.content-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px 0px 100px 0px;
}

h1 {
    font-size: 40px;
    margin-bottom: 0;
    font-weight: 600;
}

h2 {
    font-size: 30px;
}

.primary-color {
    color: var(--primary-color);
}

.button-follow {
    color: #fff;
    border-radius: 30px;
    border: solid 1px var(--primary-color);
    padding: 10px 50px;
    background-color: var(--primary-color);
    transition: all 0.1s ease-in-out;
}

.button-follow:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
    box-shadow: var(--box-shadow);
    border: solid 1px var(--secondary-color);
    transform: translate3d(0px, -1px, 0px);
}

.logo-wolox-footer {
    display: flex;
    justify-content: center;
}

.menu {
    background-color: #fff;
    display: inline;
    width: 30px;
    color: var(--primary-color);
    border: none;
    font-size: 30px;
    margin-right: 20px;
    display: none;
}

.logo-menu-container {
    display: flex;
    justify-content: space-between;
}

.desktop {
    display: flex;
}

.mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .menu {
        display: inline;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
    }

    header {
        flex-direction: column;
        padding: 20px 0px;
        background-color: #fff;
        justify-content: left;
    }

    .logo-wolox-header {
        margin-left: 10px;
    }

    .header-buttons {
        flex-direction: column;
        background-color: #fff;
        padding: 20px 10px;
    }

    .buttons {
        margin: 0px 10px;
    }

    .button-login {
        padding: 10px 15px;
        width: 50%;
    }
}