<section>
    <div class="section-img">
        <img src="assets/img_woloxer.png" alt="">
        <div class="overlay">
            <h1><span>350 + </span>Woloxers</h1>
            <div class="twitter">
                <fa-icon [icon]="faTwitter"></fa-icon><span>@Wolox</span>
            </div>
            <div>
                <a class="button-login">Siguenos</a>
            </div>
        </div>
    </div>
    <div class="section-text">
        <div class="content-text">
            <h1>Trabajamos para <br> <span class="primary-color">convertir </span><span class="secondary-color">ideas</span> en <br> productos.</h1>
        </div>
    </div>
</section>